.square {
    background: #fff;
    border: none;
    float: left;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.square:focus {
    outline: none;
}

.game {
    display: flex;
}

.board-row:nth-child(even) .square:nth-child(even), .board-row:nth-child(odd) .square:nth-child(odd) {
    background: #f2e1bd;
}

.board-row:nth-child(even) .square:nth-child(odd), .board-row:nth-child(odd) .square:nth-child(even) {
    background: #b38960;
}

.game-board {
    border: 5px black solid;
}